The feature for adding users to a group does not follow the SCIM standard

**Describe the bug**
When making use of the advanced tool, the groups are created with a value that does not follow the SCIM standard as described in RFC 7643. Looking like this:
```json
{
   "schemas":[
      "urn:ietf:params:scim:api:messages:2.0:PatchOp"
   ],
   "Operations":[
      {
         "op":"Add",
         "path":"members",
         "value":[
            {
               "value":"7aee3963-496d-43e8-a069-e0a2d880d20f"
            }
         ]
      }
   ]
}
```

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
I would expect it to follow the description as stated in RFC 7643 section 4.2.
See example below:
```json
{
   "schemas":[
      "urn:ietf:params:scim:api:messages:2.0:PatchOp"
   ],
   "Operations":[
      {
         "op":"Add",
         "path":"members",
         "value":[
            {
               "id":"7aee3963-496d-43e8-a069-e0a2d880d20f"
               "$ref":"https://myservice.com/Users/7aee3963-496d-43e8-a069-e0a2d880d20f"
            }
         ]
      }
   ]
}
```

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]
 - Version [e.g. 22]

**Additional context**
Add any other context about the problem here.


Nevermind, I see that I read the spec wrong.